/* ==========================================================================
 # Hero
========================================================================== */
@import '../../../../assets/styles/utils.scss';

// hero breakpoints
$hero-s:  530px;
$hero-m:  650px;
$hero-l:  1120px;
$hero-xl: 1600px;

.hero {
  align-items: center;
  display: flex;
  position: relative;

  &__container {
    @include wrap;
    max-width: 640px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
    z-index: 4;
  }

  &__title {
    margin: 0;
    font-size: 1.75rem;
    @include breakpoint($hero-s) {
      font-size: 2rem;
    }
    @include breakpoint($hero-m) {
      font-size: 2.25rem;
    }
    @include breakpoint($hero-l) {
      font-size: 2.5rem;
    }
  }

  &__meta {
    margin-top: var(--spacing-xs);
  }

  &__description {
    margin: 1rem 0 0 0;
    font-size: .875rem;
    @include breakpoint($hero-s) {
      font-size: 1rem;
    }
    @include breakpoint($hero-m) {
      font-size: 1.125rem;
    }
  }

  /* No background image
  ----------------------------------------------- */

  &--no-background {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .hero__container {
      padding-top: var(--spacing-m);
      padding-bottom: var(--spacing-m);
    }
  }

  /* Has background image
  ----------------------------------------------- */

  &--has-background {

    overflow: hidden;

    .hero__background, .hero__background__image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    // min-height as aspect ratio but grow with the content
    &:before {
      content: '';
      float: left;

      // 8:5 for smaller screens
      @include aspect-ratio(8, 5);

      // 8:3 for middle size
      @include breakpoint($hero-m) {
        @include aspect-ratio(8, 3);
      }

      // 3:1 for bigger screens
      @include breakpoint($hero-l) {
        @include aspect-ratio(3, 1);
      }

    }
    &:after {
      clear: left;
      content: ' ';
      display: table;
    }
    h1, p, span, a {
      color: var(--color-white);
      text-shadow: 0 0 1rem rgba(0,0,0,.6);
      @include breakpoint($hero-s) {
        text-shadow: 0 0 1rem rgba(0,0,0,.4);
      }
    }
  }

  &__background {
    &__image {
      line-height: 0;
      img {
        display: block;
        line-height: 0;
        z-index: 2;
        position: absolute;

        // proper way to cover
        object-fit: cover;

        // close enough cover for older browsers
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;


      }

    }
    &__dimming {
      display: block;
      position: absolute;
      line-height: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background: rgba(0, 0, 0, .25);
      background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0,.3)); // @todo variable

    }
  }

}
