/* ==========================================================================
 # Columns block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="core/columns"] .wp-block-columns,
.blocks .wp-block-columns {

  .wp-block-column {
    @include child-margin-reset;
    @include breakpoint($breakpoint-sub-l) {
      margin-bottom: 1.5rem;
    }
  }

  &.alignfull {
    margin-left: auto;
    margin-right: auto;
  }

  &.alignwide,
  &.alignfull {
    @include spacing-m(margin-bottom);
  }

  &.is-last-inner-block {
    margin-bottom: 0;
  }

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-columns {

}

/* Only back-end
----------------------------------------------- */

.block-editor [data-type="core/columns"] .wp-block-columns {

}
