/* ==========================================================================
 # Columns block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="core/columns"],
.blocks .wp-block-columns {

  gap: 1rem;
  @include breakpoint($breakpoint-s) {
    gap: 1.5rem;
  }
  @include breakpoint($breakpoint-l) {
    gap: 2rem;
  }

  .wp-block-column {
    @include child-margin-reset;
    // gap takes care of margins
    margin: 0 !important;
    // clear floats inside column
    & > * {
      clear: both;
    }
  }

  &.alignfull {
    margin-left: auto;
    margin-right: auto;
  }

  &.alignwide {
    & + .wp-block-columns.alignwide {
      margin-top: -.5rem;
    }
  }

  &.alignwide,
  &.alignfull {
    @include spacing-m(margin-bottom);
  }

  &.is-last-inner-block {
    margin-bottom: 0;
  }

  // variation: background
  &.is-style-background {
    .wp-block-column {
      padding: 2rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, .075);
      background: var(--color-white);
    }
  }

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-columns {

  // entrance animation (whole block)
  &.has-viewport-effect {
    &.is-in-viewport {
    }
  }

  // entrance animation (separate columns)
  .wp-block-column {
    &.has-viewport-effect {
      @include stagger-transitions;
    }
  }

}

/* Only back-end
----------------------------------------------- */

.block-editor [data-type="core/columns"] {

}
