# Version control and temp files
*~
.DS_Store
.svn
.cvs
.git
.listing
*.bak
*.swp
*.tmp
.vscode

bower_components/*
!bower_components/.gitkeep
node_modules
.sass-cache

# Log and database files
*.sql
*.log

# known large file types
*.zip
*.tar
*.tgz
*.gz
