/* ==========================================================================
 # List block
=============================================================================

Notice: Lists without custom styles won't have identifiable classes on front-end.
Be careful with title styles as they will be applied by other blocks as well.

*/

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper ul.editor-rich-text__tinymce,
.editor-styles-wrapper ol.editor-rich-text__tinymce,
.wysiwyg ul,
.wysiwyg ol, {
  margin: 0 auto $gap auto;
  padding-left: $gap;

  li {
    margin: .25rem 0;
    padding: 0;
  }

  // inner lists
  ul, ol {
    margin: $gap-tiny 0;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg {

  ul, ol {

  }

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper ul.editor-rich-text__tinymce,
.editor-styles-wrapper ol.editor-rich-text__tinymce {

}

