/* ==========================================================================
 # Columns block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-columns,
.wysiwyg .wp-block-columns {

  .wp-block-column {
    margin: 0 0 $gap;
    @include child-margin-reset;

  }

  &.alignwide,
  &.alignfull {
    margin-top: $gap-big;
    margin-bottom: $gap-big;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-columns {

  @include breakpoint($s) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
      flex-shrink: 0;
      width: calc(100% / 2 - #{1/2*$gap});
    }
  }

  &.has-2-columns,
  &.columns-2 {
    @include breakpoint($s) {
      margin-bottom: $gap;
      & > * {
        margin-bottom: 0;
      }
    }
  }

  &.has-3-columns,
  &.columns-3 {
    @include breakpoint($s) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 3 - #{2/3*$gap});
        margin-bottom: 0;
      }
    }
  }

  &.has-4-columns,
  &.columns-4 {
    @include breakpoint($m) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 4 - #{3/4*$gap});
        margin-bottom: 0;
      }
    }
  }

  &.has-5-columns,
  &.columns-5 {
    @include breakpoint($m) {
      width: calc(100% / 3 - #{2/3*$gap});
    }
    @include breakpoint($l) {
      margin-bottom: $gap;
      & > * {
        width: calc(100% / 5 - #{4/5*$gap});
        margin-bottom: 0;
      }
    }
  }

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-columns {

}
