/* ==========================================================================
 elements / blocks / core-heading
=============================================================================

Notice: Titles without custom styles won't have identifiable classes on front-end.
Be careful with heading styles as they will be applied by other blocks as well.

*/

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-heading,
.wysiwyg {

  h2, h3, h4, h5 {

  }

}

/* Only front-end
----------------------------------------------- */


/* Only back-end
----------------------------------------------- */

