/* ==========================================================================
 # Media-text block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-media-text,
.wysiwyg .wp-block-media-text {

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  margin-top: $gap-big;
  margin-bottom: $gap-big;

  // text container
  &__content {
    @include child-margin-reset;
    width: 100%;
    margin-top: $gap;
    @include breakpoint ($m) {
      width: 50%;
      margin-top: 0;
      padding: $gap;
    }
    & > * {
      max-width: calc(#{$max-width-l} / 2);
    }
    h2 {
      font-size: 1.75rem;
    }
  }

  // image
  &__media {
    margin: 0;
    padding: 0;
    @include breakpoint ($m) {
      width: 50%;
      flex-shrink: 0;
    }
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  // alignment right
  @include breakpoint ($m) {
    &.has-media-on-the-right {
      .wp-block-media-text__media {
        order: 1;
      }
      .wp-block-media-text__content {
        & > * {
          margin-left: auto;
        }
      }
    }
  }

  // extra padding for bigger versions
  &.alignwide,
  &.alignfull {
    .wp-block-media-text__content {
      @include breakpoint($sub-m) {
        padding-left: $gap;
        padding-right: $gap;
      }
      @include breakpoint($l) {
        padding: $gap-big;
      }
    }
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-media-text {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-media-text {

  display: grid;
  @include breakpoint($m) {
    grid-template-columns: 50% 50%;
  }

}

