/* ==========================================================================
 # Paragraph block
=============================================================================

Notice: Paragraphs without custom styles won't have identifiable classes on front-end.
Be careful with paragraph styles as they will be applied by other blocks as well.

*/

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph,
.wysiwyg p {

  &.has-drop-cap:not(:focus) {
    &::first-letter {
      font-size: 4.5em;
      line-height: 1;
      float: left;
      font-weight: $bold;
      margin-right: $gap-small;
      text-transform: uppercase;
    }
  }

  &.has-background {
    display: block;
    padding: $gap;
    margin-top: $gap;
    margin-bottom: $gap;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg p {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph {
  line-height: $line-height;
}

