/* ==========================================================================
 elements / blocks / core-separator
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-separator,
.site .wp-block-separator,
.wysiwyg hr {

  margin-top: $gap-big;
  margin-bottom: $gap-big;
  display: block;
  clear: both;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid $grey;

}

/* Only front-end
----------------------------------------------- */


/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-separator {
  // add clickable surface
  padding-top: .5rem;
  transform: translateY(-.25rem);
}
