/* ==========================================================================
 # Quote block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-quote,
.wysiwyg .wp-block-quote,
.wysiwyg blockquote {

  border-left: .25rem solid $primary;
  margin: $gap auto;
  padding-left: $gap;

  p {
    font-size: .875rem;
    @include breakpoint($s) {
      font-size: 1rem;
    }
    @include breakpoint($m) {
      font-size: 1.125rem;
    }
    margin: 0;
  }

  cite,
  .wp-block-quote__citation {
    display: block;
    font-style: normal;
    margin-top: $gap-small;
    color: $grey-font-color;
    font-size: .875rem;
    @include breakpoint($s) {
      font-size: 1rem;
    }
  }

  &.is-style-large {
    border-left: 0;
    border-top: .125rem solid $grey-light;
    border-bottom: .125rem solid $grey-light;
    padding-top: $gap-big;
    padding-bottom: $gap-big;
    text-align: center;

    p {
      font-size: 1rem;
      @include breakpoint($s) {
        font-size: 1.25rem;
      }
    }

    cite,
    .wp-block-quote__citation {
      margin-top: $gap;
    }

  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg {

  .wp-block-quote, blockquote {

  }

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-quote {

}
