/* ==========================================================================
 # Layout
========================================================================== */

.primary {

  /* -------------------------------------------------------
    Pages
  ---------------------------------------------------------*/

  &--page {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Singular
  ---------------------------------------------------------*/

  &--single {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Search
  ---------------------------------------------------------*/

  &--search {

    @include wrap;
    @include spacing-m(margin-top, margin-bottom);

  }

  /* -------------------------------------------------------
    Index & archives
  ---------------------------------------------------------*/

  &--index {

    @include wrap;
    @include spacing-m(margin-top, margin-bottom);

  }

  /* -------------------------------------------------------
    404
  ---------------------------------------------------------*/

  &--404,
  .search-no-results & {

    @include wrap;
    @include spacing-m(margin-bottom);

    .main {
      max-width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }

  }

}


