/* ==========================================================================
 # Numeric posts navigation
========================================================================== */
@import '../../../../assets/styles/utils.scss';

.numeric-navigation {
  display: block;
  text-align: center;
  margin: 1.5rem 0;
  ul {
    @include list-reset;
  }

  &__item {
    display: inline-block;
    margin: .5rem .125rem;
    a {
      @include transition;
      background: var(--color-grey-light);
      color: var(--color-text);
      display: inline-block;
      line-height: 1;
      min-width: 2rem;
      padding: .5rem;
      text-decoration: none;
      &:hover, &:focus, &:active {
        background: var(--color-grey);
      }
    }

    &--previous {
      svg {
        // turn caret othwer way around
        transform: rotate(180deg);
      }
    }

    &--next {

    }

    &--pagenum {

    }

    &--active {

      a {
        background: var(--color-primary);
        color: var(--color-white);
        &:hover, &:focus, &:active {
          background: var(--color-primary);
        }
      }

    }

    &--separator {

    }

  }

  .icon {
    width: 1rem;
    height: 1rem;
  }

}
