/* ==========================================================================
 # Paragraph block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph,
.blocks .wp-block-paragraph {

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-paragraph {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph {
  line-height: $line-height;
}
