/* ==========================================================================
 elements / navigation / footer
========================================================================== */

.site-footer {
  padding: 2rem 0;
  background: $grey-light;

  &__container {
    @include wrap;
    display: flex;
    justify-content: space-between;
  }

}
