/* ==========================================================================
 elements / navigation / numeric posts nav
========================================================================== */

.numeric-navigation {
  display: block;
  text-align: center;
  margin: 1.5rem 0;
  ul {
    @include list-reset;
  }

  &__item {
    display: inline-block;
    margin: .5rem .25rem;
    a {
      text-decoration: none;
      &:hover, &:focus, &:active {

      }
    }

    &--previous {

    }

    &--next {

    }

    &--pagenum {

    }

    &--active {

    }

    &--separator {

    }

  }

}
