/* ==========================================================================
 elements / navigation / social share
========================================================================== */

$blue-facebook:   #3b5998;
$blue-twitter:    #00aced;
$blue-linkedin:   #007bb6;
$red-google-plus: #dd4b39;
$red-pinterest:   #cb2027;

.social-share {
  padding-top: 1.5rem;

  &__title {

  }

  &__link {
    @include transition(background);
    display: inline-block;
    color: $white;
    vertical-align: top;
    padding: .75rem;
    line-height: 0;
    margin: 0 .25rem .5rem 0;
    position: relative;
    text-decoration: none;
    .icon-wrap {
      margin-right: .25rem;
    }
    &:last-of-type {
      margin-right: 0;
    }

    &--facebook {
      background: $blue-facebook;
      &:hover, &:focus {
        background: darken($blue-facebook, 9);
      }
    }

    &--twitter {
      background: $blue-twitter;
      &:hover, &:focus {
        background: darken($blue-twitter, 9);
      }
    }

    &--linkedin {
      background: $blue-linkedin;
      &:hover, &:focus {
        background: darken($blue-linkedin, 9);
      }
    }

    &__label {

    }

  }

}
