/* ==========================================================================
 elements / navigation / social share
========================================================================== */

$blue-facebook:   #3b5998;
$blue-twitter:    #00aced;
$blue-linkedin:   #007bb6;
$red-google-plus: #dd4b39;
$red-pinterest:   #cb2027;
$green-whatsapp:  #36b74d;

.social-share {
  padding-top: 1.5rem;

  &__title {
    @extend .h3;
    margin-bottom: $gap-small;
  }

  &__link {
    @include transition(background);
    display: inline-block;
    color: $white;
    vertical-align: top;
    padding: $gap-small;
    line-height: 0;
    margin: 0 $gap-tiny $gap-small 0;
    position: relative;
    text-decoration: none;
    .icon {
      width: 1.125rem;
      height: 1.125rem;
    }
    &:last-of-type {
      margin-right: 0;
    }

    &--facebook {
      background: $blue-facebook;
      &:hover, &:focus {
        background: darken($blue-facebook, 9);
      }
    }

    &--twitter {
      background: $blue-twitter;
      &:hover, &:focus {
        background: darken($blue-twitter, 9);
      }
    }

    &--linkedin {
      background: $blue-linkedin;
      &:hover, &:focus {
        background: darken($blue-linkedin, 9);
      }
    }

    &--whatsapp {
      background: $green-whatsapp;
      &:hover, &:focus {
        background: darken($green-whatsapp, 9);
      }
    }

    &__label {
      @include visuallyhidden;
    }

  }

}
