/* ==========================================================================
 # Header
========================================================================== */

@import '../../../../assets/styles/utils.scss';

.site-header {
  &__inner {
    @include wrap;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    @include breakpoint($breakpoint-mobile-menu) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include breakpoint($breakpoint-desktop-menu) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__menus {
    display: none;
    @include breakpoint($breakpoint-desktop-menu) {
      display: flex;
      flex-direction: column;
    }
  }

  &__additional {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  &__main {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__branding {
    @include breakpoint($breakpoint-desktop-menu) {
      padding-right: 1.5rem;
    }
  }

  &__title {
    &, a {
      display: block;
      line-height: 0;
    }
  }

  &__logo {
    width: 15rem;
    @include breakpoint($breakpoint-desktop-menu) {
      width: 19rem;
    }
  }

}

.mobile-menu {
  display: none;
  &__nav {
    display: none;
    padding: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50rem;
    background: var(--color-white);
    z-index: 9000;
    width: 100%;
    overflow-y: auto;
    @include breakpoint($breakpoint-m) {
      max-width: 25rem;
    }
    &__inner {
      position: relative;
    }
    .menu-toggle {
      display: block;
      position: absolute;
      top: 2rem;
      right: 3rem;
      z-index: 5;
    }
  }
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 8998;
    background: rgba(0, 0, 0, .3); // @todo variable
  }
  &__close {
    @include button-reset;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 8999;
  }

  @include breakpoint($breakpoint-mobile-menu) {
    .is-active-menu & {
      display: block;
      .mobile-menu__nav {
        display: block;
        animation: mobilemenu-nav-in .25s;

      }
      .mobile-menu__overlay {
        animation: mobilemenu-overlay-in .25s;

      }
    }
    .is-closing-menu & {
      .mobile-menu__nav {
        animation: mobilemenu-nav-out .25s;
      }
      .mobile-menu__overlay {
        animation: mobilemenu-overlay-out .25s;
      }
    }
  }
}

@keyframes mobilemenu-overlay-in {
  from {opacity: 0}
  to   {opacity: 1}
}
@keyframes mobilemenu-overlay-out {
  from {opacity: 1}
  to   {opacity: 0}
}
@keyframes mobilemenu-nav-in {
  from {transform: translateX(100%)}
  to   {transform: translateX(0)}
}
@keyframes mobilemenu-nav-out {
  from {transform: translateX(0)}
  to   {transform: translateX(100%)}
}

