/* ==========================================================================
 # Primary menu
========================================================================== */

@import '../../../../assets/styles/utils.scss';

.additional-navigation__items {

  /* Both navigations
  ----------------------------------------------- */

  a {}

  &, ul {
    @include list-reset;
  }

  /* Mobile navigation
  ----------------------------------------------- */

  @include breakpoint($breakpoint-mobile-menu) {
    padding: 1.5rem 0 0;
    display: block;
    .desktop-menu & {
      display: none;
    }

    // all <li>
    li {

      // all <a>
      a {
        @include transition;
        color: var(--color-text);
        flex-grow: 1;
        font-size: 1rem;
        text-decoration: none;
      }

      & > span {
        align-items: center;
        display: flex;
        min-height: 2rem;
      }
    }

    // 1st level <li>
    & > li {

      padding: .25rem 0;

      // 1st level <a>
      & > span > a {
        color: var(--color-text-light);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
      }

    }


  }

  /* Desktop navigation
  ----------------------------------------------- */

  @include breakpoint($breakpoint-desktop-menu) {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // all <li>
    li {
      & > span {
        width: 100%;
        display: flex;
        align-items: center;
      }

    }

    // all <a>
    a {
      @include transition;
      color: var(--color-text-light);
      text-decoration: none;
      flex-grow: 1;
      font-size: .875rem;
      @include breakpoint($breakpoint-l) {
        font-size: .9375rem;
      }
      &:hover, &:focus, &:active {
        color: var(--color-text);
      }
    }

    // 1st level <li>
    & > li {
      position: relative;
      margin-right: var(--spacing-m);
      &:last-of-type {
        margin-right: 0;
      }
    }

  }
}
