/* ==========================================================================
 # Quote block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="core/quote"],
.blocks .wp-block-quote,
.blocks blockquote:not([class]) {

  border-left: .25rem solid var(--color-primary);
  margin: var(--spacing-m) auto;
  padding-left: var(--spacing-m);

  p {
    font-size: 1rem;
    @include breakpoint($breakpoint-m) {
      font-size: 1.125rem;
    }
    margin: 0;
  }

  cite,
  .wp-block-quote__citation {
    display: block;
    font-style: normal;
    margin-top: .75rem;
    color: var(--color-text-light);
    font-size: .875rem;
    @include breakpoint($breakpoint-s) {
      font-size: 1rem;
    }
  }

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-quote,
.blocks blockquote:not([class]) {

  // entrance animation
  &.has-viewport-effect {
    &.is-in-viewport {
    }
  }

}

/* Only back-end
----------------------------------------------- */

.block-editor [data-type="core/quote"] {

}
