/* ==========================================================================
 elements / content / teaser
========================================================================== */

$teaser_s: $s;
$teaser_m: $m;
$teaser_l: $l;

.teaser {
  margin-bottom: 1.5rem;
  @include breakpoint($teaser_m) {
    display: flex;
    align-items: center;
  }

  &__thumbnail {
    margin-bottom: 1rem;
    @include breakpoint($teaser_m) {
      width: 25%;
      margin-right: 5%;
      flex-shrink: 0;
    }
  }

  &__content {

  }

  &__header {

    &__title {
      font-size: 1.5rem;
      margin: 0 0 1rem 0;
    }

  }

  &__summary {

  }

}





