/* ==========================================================================
 # File block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.block-editor .wp-block-hero,
.wysiwyg .wp-block-hero {


}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-hero {

  &.is-first-block {
    margin-top: 0;
  }

  &.is-last-block {
    margin-bottom: 0;
  }

}

/* Only back-end
----------------------------------------------- */

.block-editor .wp-block[data-type="acf/hero"] {

  max-width: none;
  border: 2px dotted #ccc;
  &.is-selected {
    border: 0;
  }

  .hero--layout-stack {
    padding-top: 1.5rem;
  }

}
