/* ==========================================================================
 # List block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper ul.editor-rich-text__tinymce,
.editor-styles-wrapper ol.editor-rich-text__tinymce,
.wysiwyg .wp-block-list {

  padding-left: $gap;

  li {
    margin: .25rem 0;
    padding: 0;
  }

  // inner lists
  ul, ol {
    margin: $gap-tiny 0;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg {

  .wp-block-list {

  }

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper ul.editor-rich-text__tinymce,
.editor-styles-wrapper ol.editor-rich-text__tinymce {

}

