/* ==========================================================================
 # Paragraph block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph,
.wysiwyg .wp-block-paragraph {

  &.has-background {
    display: block;
    padding: $gap;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-paragraph {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph {
  line-height: $line-height;
}

