/* ==========================================================================
 # Columns block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-columns,
.wysiwyg .wp-block-columns {

  .wp-block-column {
    margin-bottom: $gap;
    @include child-margin-reset;

  }

  &.alignfull {
    margin-left: auto;
    margin-right: auto;
  }

  &.alignwide,
  &.alignfull {
    @include spacing-m(margin-bottom);
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-columns {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-columns {

}
