/* ==========================================================================
 # File block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.block-editor .wp-block-file,
.wysiwyg .wp-block-file {

  // multiple files
  & + .wp-block-file {
    margin-top: $gap-small;
  }

  // extra download button
  &__button {
    @include button;
    margin-left: $gap-small;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-file {

}

/* Only back-end
----------------------------------------------- */

.block-editor .wp-block-file {

}
