/* ==========================================================================
 # Paragraph block
=============================================================================

Notice: Paragraphs without custom styles won't have identifiable classes on front-end.
Be careful with paragraph styles as they will be applied by other blocks as well.

*/

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph,
.wysiwyg p {

  &.has-background {
    display: block;
    padding: $gap;
    margin-top: $gap;
    margin-bottom: $gap;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg p {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-paragraph {
  line-height: $line-height;
}

