/* ==========================================================================
 # Embed block
========================================================================== */

/* Front-end and back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-embed,
.wysiwyg .wp-block-embed {

  figcaption {
    color: $grey-font-color;
    font-size: .875rem;
    max-width: $max-width-s;
    margin-left: auto;
    margin-right: auto;
    padding: $gap-small;
    text-align: center;
  }

}

/* Only front-end
----------------------------------------------- */

.wysiwyg .wp-block-embed {

}

/* Only back-end
----------------------------------------------- */

.editor-styles-wrapper .wp-block-embed {

}
