/* ==========================================================================
 # Block colors
========================================================================== */

// white
.has-white-background-color {
  background: $white;
}
.has-white-color {
  &, a {
    color: $white;
  }
}

// black
.has-black-background-color {
  background: $base-font-color;
}
.has-black-color {
  &, a {
    color: $base-font-color;
  }
}

// primary
.has-primary-background-color {
  background: $primary;
}
.has-primary-color {
  &, a {
    color: $primary;
  }
}
