/* ==========================================================================
 # Search
========================================================================== */

.entry--search-empty {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
