/* ==========================================================================
 # Embed block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor .wp-block-embed,
.blocks .wp-block-embed {

  figcaption {
    color: var(--color-text-light);
    font-size: 1rem;
    max-width: var(--width-s);
    margin-left: auto;
    margin-right: auto;
    padding: .75rem;
    text-align: center;
  }

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-embed {

  // entrance animation
  &.has-viewport-effect {
    &.is-in-viewport {
    }
  }

}

/* Only back-end
----------------------------------------------- */

.block-editor .wp-block-embed {

}
