/* ==========================================================================
 _global / mixins
========================================================================== */

// Wrap outer containers (width, padding, center)
@mixin wrap {
  width: 100%;
  max-width: 1216px;
  max-width: calc(1216px + 2*1.5rem); // include the padding
  padding: 0 1.5rem;
  margin: 0 auto;
}

// Narrow content
@mixin narrow-content {
  max-width: 720px;
  max-width: calc(720px + 2*1.5rem);
}

// basic button styles
@mixin button {
  @include button-reset;
  @include transition;
  text-decoration: none;
  background: $primary;
  color: $white;
  line-height: 1.25;
  display: inline-block;
  padding: $gap-small $gap;
  vertical-align: baseline;
  border-radius: 5rem;
  font-weight: $bold;
  font-size: .875rem;
  @include breakpoint($s) {
    font-size: 1rem;
  }
  &:hover, &:focus, &:active {
    background: darken($primary, 5);
    transform: translateY(-.125rem);
  }
}

@mixin button--big {
  padding: $gap-medium $gap;
}

// Aspect ratio
@mixin aspect-ratio($width, $height) {
  padding-bottom: percentage($height / $width);
}

// Unified transition for theme
@mixin transition($property:all) {
  transition: $property .2s ease-in-out;
}

// Reset <li> styles
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Reset <button> styles
@mixin button-reset {
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// Screen readers only
@mixin visuallyhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

// Fix float overflow
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
