/* ==========================================================================
  Global - Mixins
========================================================================== */

@mixin wrap {
  width: 100%;
  max-width: 1080px;
  max-width: calc(1080px + 2.5rem); // include the padding
  padding: 0 1.25rem; // 20px
  margin: 0 auto;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-reset {
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
