/* ==========================================================================
 _global / variables
========================================================================== */

/* Fonts
----------------------------------------------- */

$font-text:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$base-line-height:  1.5;
$base-font-color: #333;

$light:   300;
$normal:  400;
$bold:    700;


/* Colors
----------------------------------------------- */

$black:       #000;
$white:       #fff;
$grey:        #ddd;
$grey-light:  #eee;

$blue:        #42a0d9;

/* Menu
----------------------------------------------- */

$menu-hidden:   max-width 500px; // hamburger
$menu-visible:  501px;           // no hamburger

$menu-dropdown-width:  12rem;    // desktop dropdown width
$menu-dropdown-color:  #3b3b3b;


/* Breakpoints
----------------------------------------------- */

$sub-s:  max-width 529px;
$s:      530px;

$sub-m:  max-width 719px;
$m:      720px;

$sub-l:  max-width 1119px;
$l:      1120px;

$sub-xl: max-width 1439px;
$xl:     1440px;

