/* ==========================================================================
 # Variables (CSS)
========================================================================== */
// SDM
@import "../utils";
// Created via `gulp vars`. Defined in theme's manifest.js
@import "variables-var";
@import "variables-has";
@import "variables-scss";

:root {

	--border-radius: .2rem;

	//--box-shadow: 0 1px 2px rgba(0,0,0,0.07),
	//0 2px 4px rgba(0,0,0,0.07),
	//0 4px 8px rgba(0,0,0,0.07),
	//0 8px 16px rgba(0,0,0,0.07),
	//0 16px 32px rgba(0,0,0,0.07),
	//0 32px 64px rgba(0,0,0,0.07);

	--box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);

	// --font-size: 100%;
	// --ratio: 1.333;
	// --ratio-alt: 1.68; /* the golden ratio */

	// /* Calculate values */
	// --h4: calc(var(--font-size) * var(--ratio));
	// --h3: calc(var(--h4) * var(--ratio));
	// --h2: calc(var(--h3) * var(--ratio));
	// --h1: calc(var(--h2) * var(--ratio));

	/* Basic colors
	----------------------------------------------- */

	// from assets/manifest.js vars
	//--color-primary:          #367EF7;
	//--color-primary-dark:     #2c67cc;
	//
	//--color-black:            hsl(0, 0%, 0%);
	//--color-grey-dark:        hsl(0, 0%, 30%);
	//--color-grey:             hsl(0, 0%, 70%);
	//--color-grey-light:       hsl(0, 0%, 85%);
	//--color-grey-extra-light: hsl(0, 0%, 93%);
	//--color-white:            hsl(0, 0%, 100%);

	/* Context colors
	----------------------------------------------- */

	--color-text: hsl(0, 0%, 15%);
	--color-text-light: hsl(0, 0%, 52.5%);

	--color-link: var(--color-primary);
	--color-border: var(--color-grey-light);

	--color-success: #98C93C;
	--color-error: #D95757;

	/* Typography
	----------------------------------------------- */

	--font-weight-heavy: 900;
	--font-weight-bold: 700;
	--font-weight-normal: 400;
	--font-weight-light: 300;

	--font-default: "Helvetica Neue", "Helvetica", Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
	--font-title: var(--font-default);

	/* Spacing
	----------------------------------------------- */

	--spacing-xl: 6rem;
	--spacing-l: 3rem;
	--spacing-m: 1.5rem;
	--spacing-s: 1rem;
	--spacing-xs: .75rem;
	--spacing-xxs: .5rem;

	--width-xl: 90rem; // 1440
	--width-l: 76rem; // 1216
	--width-m: 50rem; // 800
	--width-s: 40rem; // 640

	--width-content-m: var(--width-m);

}
