/* ==========================================================================
 # Button mixins
========================================================================== */

// basic button styles
@mixin button {
  @include button-reset;
  @include transition;
  background: $primary;
  border-radius: 5rem;
  color: $white;
  display: inline-block;
  font-size: .875rem;
  @include breakpoint($s) {
    font-size: 1rem;
  }
  font-weight: $bold;
  line-height: 1.25;
  padding: $gap-small $gap;
  text-decoration: none;
  vertical-align: baseline;
  &:hover, &:focus, &:active {
    background: darken($primary, 5);
    transform: translateY(-.125rem);
  }
}

// button variaton: big
@mixin button--big {
  padding: $gap-medium $gap;
}
