/* ==========================================================================
 # Tool mixins
========================================================================== */

// aspect ratio
@mixin aspect-ratio($width, $height) {
  padding-bottom: percentage($height / $width);
}

// unified transition for theme
@mixin transition($property:all) {
  transition: $property .2s ease-in-out;
}

// fix WP admin bar height on sticky menu
@mixin admin-bar-sticky-fix {
  .admin-bar & {
    top: 46px;
    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
}

// show text to screen readers only
@mixin visuallyhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

// fix float overflow
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
