/* ==========================================================================
 # Wrap mixins
========================================================================== */

// wrap outer containers (width, padding, center)
@mixin wrap {
  max-width: #{$max-width-l + 2*$gap};
  padding-left:  $gap;
  padding-right: $gap;
  margin-left:  auto;
  margin-right: auto;
  width: 100%;
}

// narrow content
@mixin narrow-content {
  max-width: #{$max-width-m + 2*$gap};
}
