/* ==========================================================================
 # Classic Editor (back-end)
========================================================================== */

/* Base from main
----------------------------------------------- */

@import "main";


/* Custom TinyMCE styles
----------------------------------------------- */

html, body {
  background: var(--color-white);
}

body {
  width: 95%;
  max-width: 800px; // content width
  margin: 1.5rem auto;
}

.wp-caption-dd {
  @extend .wp-caption-text !optional;
}
