/* ==========================================================================
 # Gutenberg Editor (back-end)
========================================================================== */

/* Utils
----------------------------------------------- */

@import "utils";

/* Base
----------------------------------------------- */

@import "base/normalize";
@import "base/media";
@import "base/blocks";

/* Elements
----------------------------------------------- */


.block-editor {

  .editor-post-title {
    &__input {
      @include heading(xl);
      font-family: $font-title;
      text-align: center;
    }
  }

  .wp-block {
    font-family: $font-text;
    @import "base/typography";
    max-width: $max-width-m;

    &[data-align="wide"] {
      max-width: $max-width-l;
    }

    &[data-align="full"] {
      max-width: none;
    }
  }

  .block-editor-writing-flow__click-redirect {
    min-height: 0 !important;
  }

  input[type="search"]{
    box-sizing: border-box;
  }

}
