/* ==========================================================================
  Main
========================================================================== */

// Vendor
@import "../../node_modules/sassy-maps/sass/_sassy-maps.scss";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "../../node_modules/singularitygs/stylesheets/_singularitygs.scss";
@import "../../node_modules/sass-toolkit/stylesheets/_toolkit.scss";
@import "../../node_modules/sass-toolkit/stylesheets/toolkit/kickstart";

// Global
@import "_global/variables";
@import "_global/mixins";
@import "_global/normalize";
@import "_global/typography";

// Elements
@import "elements/menu-toggle";
@import "elements/menu-primary";
@import "elements/menu-social";
@import "elements/numeric-posts-nav";
@import "elements/social-share";

// Templates
@import "templates/header";
@import "templates/footer";
@import "templates/page";
@import "templates/front-page";

// Print
@import "_global/print";
