/* ==========================================================================
 # Main (front-end)
========================================================================== */

/* Vendors
----------------------------------------------- */

@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";

@import "../../node_modules/@rqrauhvmra/tobi/scss/_functions.scss";
@import "../../node_modules/@rqrauhvmra/tobi/scss/_variables.scss";
@import "../../node_modules/@rqrauhvmra/tobi/scss/tobi.scss";
@import "elements/vendor/tobi";

/* Variables
----------------------------------------------- */

@import "base/variables/width";
@import "base/variables/spacing";
@import "base/variables/breakpoints";
@import "base/variables/colors";
@import "base/variables/fonts";

/* Mixins
----------------------------------------------- */

@import "base/mixins/buttons";
@import "base/mixins/resets";
@import "base/mixins/tools";
@import "base/mixins/wrap";

/* Generic
----------------------------------------------- */

@import "base/generic/normalize";
@import "base/generic/all";
@import "base/generic/typography";

/* Blocks
----------------------------------------------- */

@import "blocks/core/core-button";
@import "blocks/core/core-columns";
@import "blocks/core/core-embed";
@import "blocks/core/core-file";
@import "blocks/core/core-freeform";
@import "blocks/core/core-gallery";
@import "blocks/core/core-heading";
@import "blocks/core/core-image";
@import "blocks/core/core-list";
@import "blocks/core/core-media-text";
@import "blocks/core/core-paragraph";
@import "blocks/core/core-quote";
@import "blocks/core/core-separator";
@import "blocks/core/core-table";

@import "blocks/settings/blocks-alignment";
@import "blocks/settings/blocks-colors";

/* Elements
----------------------------------------------- */

@import "elements/buttons";
@import "elements/entry";
@import "elements/footer";
@import "elements/forms";
@import "elements/header";
@import "elements/hero";
@import "elements/media";
@import "elements/menu-primary";
@import "elements/menu-social";
@import "elements/menu-toggle";
@import "elements/numeric-posts-nav";
@import "elements/social-share";
@import "elements/teaser";

/* Layout
----------------------------------------------- */

@import "views/layout/layout";

/* Templates
----------------------------------------------- */

@import "views/templates/404";
@import "views/templates/front-page";
@import "views/templates/index";
@import "views/templates/page";
@import "views/templates/search";
@import "views/templates/single";

/* Print
----------------------------------------------- */

@import "base/generic/print";
