/* ==========================================================================
  Login
========================================================================== */

// Logo

#login h1 a {
  //background-image: url('../images/logo.png');
  //background-size: contain;
  //background-position: 50% 50%;
  //display: block;
  //width: 100%;
  //height: 50px;
}

// Background

body.login {
  //background-image: url('../images/bg-login.jpg');
  //background-position: 50% 50%;
  //background-size: cover;
}

// Buttons

#login .button {
  //background: #000;
  //border-color: #000;
  //box-shadow: none;
  //text-shadow: none;
}

// Bottom links

#login #nav a,
#login #backtoblog a {
  //color: #fff;
}
