/* ==========================================================================
  Templates - Header
========================================================================== */

.site-header {
  @include wrap;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  @include breakpoint($menu-visible) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }
}

.site-branding {
  @include breakpoint($menu-visible) {
    width: 9rem;
    padding-right: 2rem;
  }
  @include breakpoint($menu-hidden) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-logo {
      width: 6rem;
    }
  }
}

.site-title {
  display: block;
  line-height: 0;
  a {
    display: block;
    line-height: 0;
  }
}
