/* ==========================================================================
 # Table block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="core/table"],
.blocks .wp-block-table {
  font-size: .875rem;
  @include breakpoint($breakpoint-s) {
    font-size: 1rem;
  }
  margin: var(--spacing-m) auto;
  width: 100%;

  figure {
    margin: 0;
  }

  table {
    border: 1px solid var(--color-border);
    width: 100%;
  }

  thead {
    background: var(--color-primary);
    color: var(--color-white);
  }

  td, th {
    text-align: left;
    min-width: 8rem;  // for responsive tables
    padding: var(--spacing-xs) var(--spacing-xs);
  }

  td {
    border: 0;
    border-left: 1px solid var(--color-border);
    &:first-of-type {
      border-left: 0;
    }
  }

  tr {
    border-bottom: 1px solid var(--color-border);
    &:last-of-type {
      border-bottom: 0;
    }
  }

  figcaption {
    margin-top: 1rem;
  }

  &--responsive {
    display: block;
    overflow-x: auto;
    border: 1px solid var(--color-border);
    // scroll indicator, @see https://www.smashingmagazine.com/2019/01/table-design-patterns-web/#style-the-scroll
    background:
        linear-gradient(to right, var(--color-white) 30%, rgba(255,255,255,0)),
        linear-gradient(to right, rgba(255,255,255,0), var(--color-white) 70%) 0 100%,
        radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    background-size: 2.5rem 100%, 2.5rem 100%, .875rem 100%, .875rem 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
    table {
      min-width: 100%;
      border: 0;
    }
  }

  &.alignfull {
    margin-left: auto;
    margin-right: auto;
    td {
      @include breakpoint($breakpoint-l) {
        padding: var(--spacing-m);
      }
    }
  }

  &.alignleft,
  &.alignright {
    @include breakpoint($breakpoint-l) {
      max-width: calc(var(--width-content-m) / 2);
    }
  }

  &.has-fixed-layout {
    &, table {
      table-layout: fixed;
    }
  }

}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-table {

  // entrance animation (whole block)
  &.has-viewport-effect {
    &.is-in-viewport {
    }
  }

}

/* Only back-end
----------------------------------------------- */

.block-editor [data-type="core/table"] {

}
