/* ==========================================================================
 # Background block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="acf/background"],
.blocks .wp-block-acf-background {
  overflow: hidden;
}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-acf-background {

  & + .wp-block-acf-background.alignfull,
  & + .wp-block-acf-media-text.alignfull {
    @include negative-spacing-l(margin-top);
  }

  &.is-first-block {
    margin-top: 0;
  }
  &.is-last-block {
    margin-bottom: 0;
  }

  // entrance animation
  &.has-viewport-effect {
    &.is-in-viewport {
    }
  }

}

.blocks .wp-block-hero + .wp-block-acf-background,
.blocks .wp-block-hero + .wp-block-acf-background {
  @include negative-spacing-l(margin-top);
}

/* Only back-end
----------------------------------------------- */

.block-editor {
  [data-type="acf/background"] {
    max-width: none !important;
  }
  [data-name="background_video"] {
    .file-icon {
      display: none;
    }
    .file-info {
      margin-left: 0;
    }
  }
}

/* Component
----------------------------------------------- */

.background {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem 1.5rem;
  @include breakpoint($breakpoint-m) {
    padding: 3rem;
  }
  @include breakpoint($breakpoint-l) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  // vertical align
  &--vertical-align-middle {
    align-items: center;
  }
  &--vertical-align-top {
    align-items: flex-start;
  }
  &--vertical-align-bottom {
    align-items: flex-end;
  }

  // dimming
  &--dimming-dark {
    .background__background__dimming {
      background: var(--color-black);
    }
  }
  &--dimming-light {
    .background__background__dimming {
      background: var(--color-white);
    }
  }

  // height
  &.background--height-default {

  }
  &.background--height-100 {
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  &.background--height-75 {
    min-height: 75vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &.background--height-50 {
    min-height: 50vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  // colors
  &-color--none {
    background: transparent;
  }


  // env
  &--env-editor {

  }

  &--env-front {

  }

  &.is-dark-mode {
    color: var(--color-white);

    &.background--type-image,
    &.background--type-video {
      background: var(--color-black);
    }
  }
  &.is-light-mode {
    &.background--type-image,
    &.background--type-video {
      background: var(--color-white);
    }
  }
  &__media {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;

    &__video-wrapper {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      video {
        display: block;
        line-height: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__dimming {
    background: var(--color-black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // shadow
  &--type-video,
  &--type-image {
    &.is-dark-mode.background--content-background-none {
      text-shadow: 0 0 1rem rgba(0,0,0,.6);
      @include breakpoint($breakpoint-m) {
        text-shadow: 0 0 1rem rgba(0,0,0,.5);
      }
    }
  }

  &__content {
    @include child-margin-reset;
    width: 100%;
    position: relative;
  }

  // content background
  &--content-background-light {
    .background__content {
      @include spacing(margin-top, margin-bottom);
      background: var(--color-white);
      margin-left:  auto;
      margin-right: auto;
      max-width: calc(var(--width-content-m) + 6rem);
      padding: 2rem;
      @include breakpoint($breakpoint-m) {
        padding: 3rem;
      }
    }
  }


}
