/* ==========================================================================
 # BG block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor [data-type="acf/background"],
.blocks .wp-block-acf-background {
  overflow: hidden;
}

/* Only front-end
----------------------------------------------- */

.blocks .wp-block-acf-background {

  // optimize rendering
  // content-visibility: auto;

  & + .wp-block-acf-background.alignfull,
  & + .wp-block-acf-media-text.alignfull {
    @include negative-spacing-l(margin-top);
  }

  &.is-first-block {
    margin-top: 0;
  }
  &.is-last-block {
    margin-bottom: 0;
  }

}

.blocks .wp-block-hero + .wp-block-acf-background,
.blocks .wp-block-hero + .wp-block-acf-background {
  @include negative-spacing-l(margin-top);
}

/* Only back-end
----------------------------------------------- */

.block-editor [data-type="acf/background"] {
  max-width: none !important;
  margin-left: -58px !important;
  margin-right: -58px !important;
}

