/* ==========================================================================
 # Breakpoints
========================================================================== */

/* Generic breakpoints
----------------------------------------------- */

$s:      35rem;                 // 560px
$sub-s:  max-width 34.9375rem;  // 559px

$m:      45rem;                 // 720px
$sub-m:  max-width 44.9375rem;  // 719px

$l:      70rem;                 // 1120px
$sub-l:  max-width 69.9375rem;  // 1119px

$xl:     90rem;                 // 1440 px
$sub-xl: max-width 89.9375rem;  // 1399px

/* Menu breakpoints
----------------------------------------------- */

$menu-hidden:  max-width 889px; // hamburger
$menu-visible: 890px;           // no hamburger

/* Hero breakpoints
----------------------------------------------- */

$hero-s:  530px;
$hero-m:  650px;
$hero-l:  1120px;
$hero-xl: 1600px;

/* Teaser breakpoints
----------------------------------------------- */

$teaser-s: $s;
$teaser-m: $m;
$teaser-l: $l;
