/* ==========================================================================
 # Block alignment
========================================================================== */

/* Only front-end
----------------------------------------------- */

.wysiwyg {
  padding-left:  $gap;
  padding-right: $gap;
  @include clearfix;
  @include child-margin-reset;

  // each block takes care of its own width
  & > * {
    margin-left:  auto;
    margin-right: auto;
    max-width: $max-width-m;
  }

  & > .alignfull {
    max-width: none;
  }

  & > .alignwide {
    max-width: $max-width-l;
  }

}
