/* ==========================================================================
 # Block alignment
========================================================================== */

/* Only front-end
----------------------------------------------- */

.wysiwyg {
  padding-left:  $gap;
  padding-right: $gap;
  @include clearfix;
  @include child-margin-reset;

  // each block takes care of its own width
  & > * {
    margin-left:  auto;
    margin-right: auto;
    max-width: $content-default-width;
  }

  & > .alignfull {
    margin-top: $gap-big;
    margin-bottom: $gap-big;
    margin-left: -$gap;
    margin-right: -$gap;
    max-width: none;
  }

  & > .alignwide {
    margin-top: $gap-big;
    margin-bottom: $gap-big;
    max-width: $max-width-l;
  }

  // float left
  .alignleft {
    @include breakpoint($content-fits) {
      float: left;
      margin-top: 0;
      margin-bottom: $gap;
      margin-left: calc(50% - #{$content-default-width/2});
      margin-right: $gap;
      max-width: calc(50% - #{$gap/2});
    }
  }

  // float right
  .alignright {
    @include breakpoint($content-fits) {
      float: right;
      margin-top: 0;
      margin-bottom: $gap;
      margin-left: $gap;
      margin-right: calc(50% - #{$content-default-width/2});
      max-width: calc(50% - #{$gap/2});
    }
  }


}
