/* ==========================================================================
 # Footer
========================================================================== */

@import '../../../../assets/styles/utils.scss';

.site-footer {
	background: var(--color-black);
  padding: 2rem 0;

	h2, h3, h4, h5, h6, p, span, li, a {
		color: var(--color-grey-light);
	}

	.strong a, b, strong {
		color: #fff;
		font-weight: bold;
	}

	.site-footer__branding {
		//font-size: .875rem;
	}

  &__container {
    @include wrap;
    display: flex;
    justify-content: space-between;
  }

}
