/* ==========================================================================
 # Separator block
========================================================================== */

@import '../../../../assets/styles/utils.scss';

/* Front-end and back-end
----------------------------------------------- */

.block-editor .wp-block-separator,
.blocks .wp-block-separator,
.blocks hr {

  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  display: block;
  clear: both;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid var(--color-border);
  max-width: var(--width-m) !important;

}

/* Only front-end
----------------------------------------------- */

.blocks {
  .wp-block-separator, hr {

  }
}


/* Only back-end
----------------------------------------------- */

.block-editor .wp-block-separator {
  // add clickable surface
  padding-top: .5rem;
  transform: translateY(-.25rem);
}
