/* ==========================================================================
 # Layout
========================================================================== */

.primary {

  padding-top: $gap-big;
  padding-bottom: $gap-big;

  /* -------------------------------------------------------
    Pages
  ---------------------------------------------------------*/

  &--page {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Singular
  ---------------------------------------------------------*/

  &--single {

    .main {
      //@include narrow-content;
    }

  }

  /* -------------------------------------------------------
    Search
  ---------------------------------------------------------*/

  &--search {

    @include wrap;

  }

  /* -------------------------------------------------------
    Index & archives
  ---------------------------------------------------------*/

  &--index {

    @include wrap;

  }

  /* -------------------------------------------------------
    404
  ---------------------------------------------------------*/

  &--404 {

    @include wrap;

    .main {
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }

  }

}


