/* ==========================================================================
 # Forms
========================================================================== */

/* Generic form styles
----------------------------------------------- */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
  border: 0;
  text-transform: none;
}

label {
  max-width: 100%;
}

select,
textarea,
input {
  max-width: 100%;
  padding: .5rem 1rem;
  color: $base-font-color;
  background: $white;
}

input[type="radio"],
input[type="checkbox"] {
  margin: .25rem 0 0;
  line-height: normal;
}

textarea {
  height: 15rem;
}

form button,
input[type="submit"] {
  @include button;
}

/* Search form ($todo => _forms-search.scss
----------------------------------------------- */

.search-form {
  display: flex;
  max-width: 30rem;
  position: relative;
  &__input {
    flex-grow: 1;
    padding: 1rem 2.75rem 1rem 1rem !important;
    border-radius: 5rem;
    border: 2px solid $grey;
    &:focus {
      border-color: $primary;
      outline: 0;
    }
  }
  &__submit {
    @include button-reset;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      fill: $primary;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  // 404 search form
  &--404,
  &--search-empty {
    margin: 2rem auto 5rem;
  }

}

