/* ==========================================================================
 # Header
========================================================================== */

.site-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  @include breakpoint($menu-visible) {
    align-items: center;
    display: flex;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  &__container {
    @include wrap;
    @include breakpoint($menu-visible) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__branding {
    @include breakpoint($menu-visible) {
      padding-right: $gap;
      &__logo {
        width: 5rem;
      }

    }
    @include breakpoint($menu-hidden) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__logo {
        width: 5rem;
      }
    }

    &__title {
      display: block;
      line-height: 0;
      a {
        display: block;
        line-height: 0;
      }
    }

  }

}
