/* ==========================================================================
 # Hero
========================================================================== */

.hero {
  align-items: center;
  display: flex;
  position: relative;

  &__container {
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
    z-index: 4;
    &__inner {
      @include wrap;
      max-width: 640px;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.75rem;
    @include breakpoint($hero-s) {
      font-size: 2rem;
    }
    @include breakpoint($hero-m) {
      font-size: 2.25rem;
    }
    @include breakpoint($hero-l) {
      font-size: 2.5rem;
    }
  }

  &__meta {
    margin-top: $gap-small;
  }

  p {
    margin: 1rem 0 0 0;
    font-size: .875rem;
    @include breakpoint($hero-s) {
      font-size: 1rem;
    }
    @include breakpoint($hero-m) {
      font-size: 1.125rem;
    }
  }

  &__media, img {
    line-height: 0;
  }

  /* No media
  ----------------------------------------------- */

  &--no-media {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .hero__container {
      padding-top: $gap;
      padding-bottom: $gap;
    }
  }

  /* Has background image
  ----------------------------------------------- */

  &--has-media.hero--layout-full {

    overflow: hidden;

    .hero__media, .hero__media__image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    // min-height as aspect ratio but grow with the content
    &:before {
      content: '';
      float: left;

      // 8:5 for smaller screens
      @include aspect-ratio(8, 5);

      // 8:3 for middle size
      @include breakpoint($hero-m) {
        @include aspect-ratio(8, 3);
      }

      // 3:1 for bigger screens
      @include breakpoint($hero-l) {
        @include aspect-ratio(3, 1);
      }

    }
    &:after {
      clear: left;
      content: ' ';
      display: table;
    }
    h1, p, span, a {
      color: $white !important;
      text-shadow: 0 0 1rem rgba(0,0,0,.6);
      @include breakpoint($hero-s) {
        text-shadow: 0 0 1rem rgba(0,0,0,.4);
      }
    }

    .hero__media {
      &__image {
        line-height: 0;
        img {
          display: block;
          line-height: 0;
          z-index: 2;
          position: absolute;

          // proper way to cover
          object-fit: cover;

          // close enough cover for older browsers
          min-width: 100%;
          min-height: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;


        }

      }
      &__dimming {
        display: block;
        position: absolute;
        line-height: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: rgba($black, .25);
        background: linear-gradient(rgba($black, .15), rgba($black, .3));

      }
    }


  }

  /* Layout: 50/50
  ----------------------------------------------- */

  &--layout-half {
    display: block;
    @include breakpoint($m) {
      display: flex;
    }
    & > * {
      @include breakpoint($m) {
        flex-grow: 1;
        flex-shrink: 0;
        width: 50%;
      }
    }
    .hero__container {
      text-align: left;
      &__inner {
        @include breakpoint($m) {
          margin-right: 0;
        }
      }
    }
    .hero__media {
      order: 2;
      align-self: stretch;
      display: flex;
      align-items: stretch;
      &__image {
        align-items: stretch;
        display: flex;
        img {
          object-fit: cover;
        }
      }
    }
    h1 {
      font-size: 1.75rem;
      @include breakpoint($hero-s) {
        font-size: 2rem;
      }
      @include breakpoint($hero-m) {
        font-size: 2.25rem;
      }
    }
  }


  /* Layout: Stack
  ----------------------------------------------- */
  &--layout-stack {
    width: 100%;
    display: block;
    .hero__container {
      padding-bottom: 2rem;
    }
    .hero__media {
      text-align: center;
    }
  }

}

