/* ==========================================================================
  Elements - Menu toggle
========================================================================== */

.menu-toggle {
  @include button-reset;
  background: $black;
  color: $white;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
  font-size: .875em;
  padding: 1em;
  &:hover {
    .line-1 {
      transform: translateY(-.25em);
    }
    .line-3 {
      transform: translateY(.25em);
    }
  }
  &:focus {
    outline: thin dotted;
    outline-offset: -2px;
  }
  svg {
    position: relative;
  }
}

.icon-menu-toggle {
  width: 2rem;
  height: 2rem;
  top: 0;
}

.svg-menu-toggle {
  .line {
    opacity: 1;
    transition: .15s ease-in-out;
  }

  .close-line {
    opacity: 0;
    transition: .15s ease-in-out;
    transform: scale(1.2);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.menu-toggle.active .svg-menu-toggle {
  .close-line {
    opacity: 1;
    transform-origin: 50% 50%;

    &.close-line-1 {
      transform: scale(1) rotate(45deg);
    }
    &.close-line-2 {
      transform: scale(1) rotate(-45deg);
    }
  }
  .line {
    opacity: 0;
    transform: scale(.8);
  }
}
