/* ==========================================================================
 elements / navigation / menu-primary
========================================================================== */

.primary-navigation__items {

  /* -------------------------------------------------------
    Both navigations
  ---------------------------------------------------------*/

  a {}

  &, ul {
    @include list-reset;
  }

  li {

    // call to action
    &.cta {
      & > span > a {
        @include button;
        font-size: .875rem;
        font-weight: $bold;
      }
    }

  }

  /* -------------------------------------------------------
    Mobile navigation
  ---------------------------------------------------------*/

  @include breakpoint($menu-hidden) {
    padding: $gap 0 0;
    display: none;
    .active & {
      display: block;
    }

    // all <li>
    li {

      // all <a>
      a {
        font-size: .875rem;
        flex-grow: 1;
        color: $base-font-color;
        text-decoration: none;
      }

      & > span {
        display: block;
        min-height: 2rem;
        display: flex;
        align-items: center;
      }

      // call to action
      &.cta {
        border-top: 0;
        & > span > a {
          display: block;
          text-align: center;
          svg {
            margin-right: .25rem;
            top: -.125rem;
            position: relative;
          }
        }
      }

      &.menu-item-has-children {
        position: relative;
        & > span {
          width: 100%;
          display: flex;
          align-items: center;

          // caret <button>
          & > .menu-item__link__caret {
            svg {
              @include transition;
            }
          }
        }

        // <li> is active
        &.active {
          & > span {

            & > .menu-item__link__caret {
              svg {
                transform: rotate(180deg); // flip caret to point up
              }
            }

          }

        }

      }
    }

    // all carets
    .menu-item__link__caret {
      @include button-reset;
      padding: .5rem .5rem;
      background: $primary;
      color: $white;
      margin-left: 1rem;
      .icon {
        width: 1.25em;
        height: 1.25em;
        top: -.125rem;
        position: relative;
      }
    }

    // all .sub-menu
    .sub-menu {
      height: 0;
      overflow: hidden;
      &.open {
        padding: $gap-small 0 $gap-small $gap-small;
        overflow: visible;
        height: auto;
      }

      // all lower <li>
      li {
        padding: .25rem 0;
        &:last-of-type {
          padding-bottom: 0;
        }
      }

    }

    // 1st level <li>
    & > li {

      padding: .5rem 0;
      border-top: 1px solid $grey;
      &:first-of-type {
        border-top: 0;
      }

      // 1st level <a>
      & > span > a {}

        // 2nd level <ul class="sub-menu"> [closed]
        & > ul {
          @include transition;
          max-height: 0;
          background: $white;
          opacity: 0;

          // 2nd level <ul class="sub-menu"> [open]
          &.open {
            opacity: 1;
            max-height: 999px;

          }


          // 2nd level <li>
          & > li {

            // 2nd level <a>
            & > span > a {}

            // 3rd level <ul class="sub-menu"> [closed]
            & > ul {
              @include transition;
              max-height: 0;
              opacity: 0;

              // 3rd level <ul class="sub-menu"> [open]
              &.open {
                opacity: 1;
                max-height: 999px;
              }
            }


          }

        }

    }


  }

  /* -------------------------------------------------------
    Desktop navigation
  ---------------------------------------------------------*/

  @include breakpoint($menu-visible) {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // all <li>
    li {
      & > span {
        width: 100%;
        display: flex;
        align-items: center;
      }

    }

    // all <a>
    a {
      color: $base-font-color;
      text-decoration: none;
      flex-grow: 1;
    }

    // all carets
    .menu-item__link__caret {
      @include button-reset;
      margin-left: .125em;
      flex-shrink: 0;
    }

    // all <svg>
    .icon {
      width: 1em;
      height: 1em;
      top: -.125rem;
      position: relative;
      &.icon-from-class {
        margin-right: .5rem;
        width: 1.25em;
        height: 1.25em;
      }
    }

    // 1st level <li>
    & > li {
      position: relative;
      margin-right: $gap;
      &:last-of-type {
        margin-right: 0;
      }

      // 1st level <a>
      & > span > a {

        font-size: .875rem;
        @include breakpoint($l) {
          font-size: 1rem;
        }

      }

      // all dropdown <li>
      li {
        background: $menu-dropdown-bg;
        & > span > a {
          color: $menu-dropdown-color;
          padding: .5rem .75rem;
          font-size: .875rem;
          display: block;
        }
        &:hover, &:focus, &:active {
          background: lighten($menu-dropdown-bg, 6);
        }
        .icon {
          color: $menu-dropdown-color;
          transform: rotate(-90deg);
        }
      }

      // 2nd level <ul class="sub-menu"> [open]
      &:hover > .sub-menu,
      & > .sub-menu.open {
        opacity: 1;
        left: 50%;
      }

      // 2nd level <ul class="sub-menu"> [closed]
      & > ul {
        width: $menu-dropdown-width;
        margin: .4rem 0 0 $menu-dropdown-width*-0.5; // margin-left half of the width!
        background: $white;
        position: absolute;
        left: -999em;
        z-index: 99;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
        opacity: 0;
        transition: opacity .2s ease-out;

        // 2nd level caret
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 .4rem .4rem .4rem;
          border-color: transparent transparent $menu-dropdown-bg transparent;
          position: absolute;
          top: -.4rem;
          left: 50%;
          left: calc(50% - .2rem);

        }

        // 2nd level <li>
        & > li {

          &.menu-item-has-children {
            position: relative;
          }

          // 2nd level <a>
          & > a {
            display: block;
          }

          // carets 2nd level and below
          .menu-item__link__caret {
            padding-left: .75rem;
            padding-right: .75rem;
          }

          // 3rd level <ul class="sub-menu"> [open]
          &:hover > .sub-menu,
          & > .sub-menu.open {
            opacity: 1;
            left: $menu-dropdown-width;
            top: 0;
          }

          // 3rd level <ul class="sub-menu"> [closed]
          & > ul {
            width: $menu-dropdown-width;
            background: $white;
            position: absolute;
            left: -999em;
            z-index: 99;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
            opacity: 0;
            transition: opacity .2s ease-out;

          }

        }

      }

    }
  }
}
