/* ==========================================================================
  Elements - Primary menu
========================================================================== */

#social-navigation {

}

.menu-social-items {
  @include list-reset;
  li {
    display: inline-block;
  }
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .25rem;
  }
  .menu-item-label {
    //@include visuallyhidden; // show titles only to screen readers
  }
}
