/* ==========================================================================
 # Numeric posts navigation
========================================================================== */

.numeric-navigation {
  display: block;
  text-align: center;
  margin: 1.5rem 0;
  ul {
    @include list-reset;
  }

  &__item {
    display: inline-block;
    margin: .5rem .125rem;
    a {
      @include transition;
      background: $grey-light;
      color: $base-font-color;
      display: inline-block;
      line-height: 1;
      min-width: 2rem;
      padding: .5rem;
      text-decoration: none;
      &:hover, &:focus, &:active {
        background: $grey;
      }
    }

    &--previous {
      svg {
        // turn caret othwer way around
        transform: rotate(180deg);
      }
    }

    &--next {

    }

    &--pagenum {

    }

    &--active {

      a {
        background: $primary;
        color: $white;
        &:hover, &:focus, &:active {
          background: $primary;
        }
      }

    }

    &--separator {

    }

  }

}
