/* ==========================================================================
 # SVG
========================================================================== */

@import '../../../../assets/styles/utils.scss';

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  vertical-align: middle;
  width:  1.5rem;
}
