/* ==========================================================================
 # Social menu
========================================================================== */

@import '../../../../assets/styles/utils.scss';

.social-navigation {

  &__items {
    @include list-reset;

    li {
      display: inline-block;
      margin-right: .75rem;
      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      @include transition;
      color: var(--color-text-light);
      &:hover, &:focus, &:active {
        color: var(--color-primary);
      }
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .social-navigation__item__label {
      @include visuallyhidden;
    }

  }

}

